<div class="message container-fluid justify-content-center d-flex align-items-center align-self-center">
  Oops! <br>
  <%= @fail %>
</div>

<div class="input-row container-fluid">
  <%= link_to 'Try again', root_path, class: "btn btn-danger"%>
</div>

