<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="helpModalLabel"><%= t('help') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=<%= t('close')%>></button>
      </div>
      <div class="modal-body">
        <%= t('help_msg') %>: <br/>
        +74852000000
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('close') %></button>
      </div>
    </div>
  </div>
</div>
