<nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom border-dark" style="height: 10%">
  <div class="container-fluid justify-content-center">
    <%= link_to t("townsfolk"), root_path, class: "navbar-brand me-0" %>
  </div>
</nav>
