<div class="container-fluid d-flex justify-content-between overlay">
  <%= link_to "?", root_path, class: "btn btn-outline-info btn-sm px-0 overlay-btn"%>
  <%= link_to "RU", root_path, class: "btn btn-outline-info btn-sm px-0 overlay-btn"%>
</div>
