<div class="container-fluid d-flex justify-content-between overlay">
  <%= button_tag "â”", type: 'button', class: "btn btn-outline-info btn-sm px-0 overlay-btn",
  data: {
    bs_toggle: "modal",
    bs_target: "#helpModal"
  }
  %>
  <%= button_tag "ðŸŒ", type: 'button', class: "btn btn-outline-info btn-sm px-0 overlay-btn",
  data: {
    bs_toggle: "modal",
    bs_target: "#langModal"
  }
  %>
</div>
