<h2>About page</h2>

<p>This is an About page of the app. Nothing really interesting here.</p>

<p>We can put a logo here, version, authorship. Maybe this can be an about section?</p>

<p>Anyways, this is a page with no actual purpose other than provide means to address the layout with logout button :D</p>
