<h2>Waiting for approve</h2>

<p>This account needs to be approved by admins before you can proceed.
  Please wait or contact admins to expedite the process.</p>

<%= link_to 'Try again', root_path, class: 'btn btn-primary' %>
