.input-box {
  position: absolute;
  bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 0.1rem solid oklch(26.21% 0.009 248.19);
}

.input-digits {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

input[readonly][tabindex="-1"] {
  pointer-events: none;
}
